/*/terraform.tfvars
/*/.git
/*/.terraform.lock.hcl
/*/.terraform
/*/terraform.tfstate
/*/terraform.tfstate.backup
/.DS_Store
/*/.DS_Store
/terraform.tfstate
/terraform.tfstate.backup
/*/Readme.md
/Lab1-2TierAWS-VPC
